$sx: 320px;
$md: 768px;
$lg: 1175px;
$md-1: 767px;

$white: #ffffff;
$black: #000000;

$hover-button: #5b8daa;

$blue-common: #3e9cdc;
$blue-border: #286690;

$color-blue: #42a9ed;

$bg-common: $white;
$bg-darck: #3d4050;
$bg-ordering: #272733;
